:root {
    --bg-color: #E8E6D9;
    --text-color: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
body {
    background-color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    position: relative;}
/* cетка */
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;}
.col-content {
    margin-left: 20px;
    grid-column: 1 / span 12;}

/* Шрифты */
h1, h2, .portfolio-link {
    font-family: 'Montserrat Alternates', sans-serif;
    text-transform: uppercase;
    color: #ffffff;}

 h3, .description-text, .subtitle, .link, .work-desc {
    font-family: 'Roboto', sans-serif;
    color: white;}

/* HEADER */
.header {padding: 20px;}
.head {background-color: #1A3C34;}
.nav {
 margin: 2%;
 font-style: normal;
 font-weight: 400;
 font-size: 18px;
 line-height: 20px;
 text-align: center;
 color: #FFFFFF;
 text-decoration: none;
 transition: transform 0.3s ease;
}
.nav:hover {
 transform: scale(1.1);
}
.nav1 {margin: 2%;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 20px;
text-align: center;
color: #435960;
text-decoration: none;
}
.nav-menu { background-color: #1A3C34;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-group {
    display: flex;
    gap: 20px;
}
/* оверплей */
.dropdown { position: relative; }
.overlay {
    
    display: none;
    position: absolute;
    top: 40px;
    background-color:#FFFFFF;
    padding: 15px;
    min-width: 200px;
    z-index: 1000;
}
.overlay.active { display: block; }
.overlay p {
    font-size: 18px;
    color: #435960;
}
.overlay .bold {
    color: #1A3C34;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 5px;
}
.nav-btn {
    background: none;
    border: none;
    text-transform: lowercase;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
text-align: center;
color: #FFFFFF;
text-decoration: none;
    padding: 4px 0;
    transition: transform 0.3s ease;
}
.nav-btn:hover {
 color: #d3d3d3;
}
.nav-link {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    margin: 0 10px;
}

/* кнопка */
.nav-toggle-btn {
    margin: 34%;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 40px solid #1A3C34; 
    background: none;
    border-right: none;
    cursor: pointer;
    transition: transform 0.3s;
}
.nav-toggle-btn:hover {
    transform: scale(1.1);
}
/* Кнопка назад */
.back-btn {
 margin: 34%;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 40px solid #1A3C34; 
    background: none;
    border-left: none;
    cursor: pointer;
    transition: transform 0.3s;
position: absolute;    
    left: 145px;
}
.back-btn:hover {
    transform: scale(1.1);
}
/* Основная информация */
img {height: 428px;}
.main-content {
    max-width: 1440;
    margin: 0 auto;
    padding: 223px 223px;
}
.profile-block {
    display: flex;
    align-items: center;
    margin-top: 6%;
}
.profile-image-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 16%;
    width: 430px;
}
.foto {
    width: 296px;
    height: 394px;
}
.name-title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 507px;
  height: 395px; 
  background-color: #435960
}


h1 {
    margin-top: 5%;
    font-size: 64px;
    line-height: 1.1;
}
.subtitle {
    font-size: 36px;

}
.description-text {
    font-size: 20px;
    margin-top: 20px;
    
    max-width: 380px;
}

/*плакат*/
.pglav {
width: 1400px;
height: 772px;
margin-top: 6%;
margin-bottom: 6%;
border: 7px solid #FFFFFF;}
/* плашка2*/
.p2 {
    z-index: -1;
    position: absolute;
    left: 0%;
    right: 0%;
    height: 660px;
    margin-top: 6%;
    top: 1410px;
    display: flex;
    background: #435960;
}
.link {
font-style: normal;
font-weight: 400;
font-size: 18px;
text-align: center;
color: #FFFFFF;
text-decoration: none;
background: #1A3C34;
width: 253px;
height: 37px;
display: inline-grid;
align-items: center;
transition: transform 0.3s;
}
.link:hover {
    transform: scale(1.1);
}
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1395px;
    margin-top:33px;
    margin-bottom:33px;
    background-color: #435960;
}
/* PORTFOLIO GRID */
.works-container {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
 
}
.work-card1 { 
    display: grid; 
    margin-left: 70px;}
.work-card2 { 
    display: grid; 
    margin-left: 90px;}
.work-desc {
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
    display: grid;
    align-items: flex-start;
}
.image {
    display: flex;
    justify-content: center;
  
}
/* Футер */
.footer { 
       background-color: #1A3C34;
       position: absolute;
       top: 2250px; 
       width: 100%;
       height: 200px}
.footer-content {
   display: grid;
   grid-template-rows: 180px;
   grid-template-columns: 660px 600px 600px;
   justify-items: center;
   align-items: start;
   margin: 20px;
   justify-content: center;
font-style: normal;
font-weight: 400;
font-size: 18px;
text-align: left;
color: #FFFFFF;
text-decoration: none;
background-color: #1A3C34;
}

.footer-block h3 {
font-weight: 800;
font-size: 18px;
line-height: 28px;
text-align: left;
color: #FFFFFF;
}
.footer-block a {
font-style: normal;
text-decoration: none;
font-weight: 400;
font-size: 18px;
line-height: 28px;
text-align: left;
color: #FFFFFF;
 display: grid;
transition: transform 0.3s ease;
}
.footer-block a:hover {
 color: #d3d3d3;}

/* Текст образования */
.education-text {
 color: white;
 text-align: left;
 padding: 40px;
 line-height: 1.5;
     display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 507px;
      height: 395px; 
} 
h2 {
    font-size: 36px;
}
.persona-text {
color: white;
 text-align: left;
 padding: 40px;
 line-height: 1.5;
  width: 507px;
  height: 395px; 
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 507px;
      height: 395px; 
}
